@use "./variables" as *;
@use "sass:color";

.cast {
  margin-top: 40px;
}

.castGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.castCard {
  text-align: center;
  background: $highlight-color;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.castImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
